  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 beers-options">
        <!--Sidebar content-->

        Search: <input ng-model="query">

        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="alcohol">Alcohol content</option>
        </select>
        
        <p>
        	<a href="#/add" title="Add a beer" class="btn btn-info">Add a beer</a>
        </p>

      </div>
      <div class="col-md-10">
        <!--Body content-->
        <ul class="beers">
          <li ng-repeat="beer in beers | filter:query | orderBy:orderProp" class="thumbnail">
            <a href="#/beers/{{beer.id}}" class="thumb"><img ng-src="{{beer.img}}"></a>
            <a href="#/beers/{{beer.id}}">{{beer.name}}</a>
            <p>{{beer.description}}</p>
            <p class="buttons">
            	<a href="#/update/{{beer.id}}" title="Modify a beer" class="btn btn-warning">Modify {{beer.name}}</a>
            	<a href="#/delete/{{beer.id}}" title="Delete a beer" class="btn btn-danger">Delete {{beer.name}}</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>